@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  margin: 0
}

.headerText {
  font-family: "BIZ UDPMincho", serif;
  text-align: center;
  margin: 0
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(31, 25px);
  grid-template-rows: repeat(24, 25px);
  position: absolute;
  cursor: url("/public/images/pngwing.com.png"), auto
}

.choices:hover {
  color: rgba(30, 30, 247, 0.548)
}

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute;
  width: 250px  !important;
  height: 50px  !important;
  inset: 40% !important;
  background-color: rgba(255, 255, 255, 0.726) !important;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px  !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 15px !important;
}

input:focus {
  outline: none;
  margin: 5px !important;
}