@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

.header {
  font-family: "BIZ UDPMincho", serif;
  text-align: center;
  font-size: 19px;
}

.gameBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(31, 25px);
  grid-template-rows: repeat(24, 25px);
  position: absolute;
  cursor: url("/public/images/pngwing.com.png"), auto
}

.choices:hover {
  color: rgba(30, 30, 247, 0.548)
}

button {
  cursor: url("/public/images/pngwing.com.png"), auto
}
