@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

.header {
  font-family: "BIZ UDPMincho", serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(28, 25px);
  grid-template-rows: repeat(22, 25px);
  border: 1px solid orangered;
  position: absolute;
  cursor: crosshair;
}

.grid-item {
  /* border: 0.5px solid palevioletred; */
}
